@import "../../styles/variaveis";

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &:first-child {
    a {
      font-weight: 700;
      color: $roxo;
      font-family: $fonte-normal;
    }
  }

  a {
    text-decoration: none;
    font-size: 1.125rem;
    color: $cor-do-texto;
    font-family: $fonte-normal;
  }
}
